# Ignore bundler config
/.bundle

# Ignore rubymine configuration
/.idea/*

# Ignore test/dev databases
/db/*.sqlite3
/db/*.sqlite3-journal
/db/.DS_Store

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
log/
tmp/
coverage

# Ignore persisted local OpenShift cluster config
/openshift/local/cluster/*

# Ignore temporary *.swp files
*.swp

# Ignore local file uploads
/public/uploads
