<div class="row justify-content-center">
  <div class="col col-sm-auto">
    <h2>About Us</h2>
  </div>
</div>
<% unless user_signed_in? %>
  <%= link_to 'Sign in with Google', user_google_omniauth_authorize_path, class: 'btn btn-info' %>
<% end %>