<%= form_with(model: webcomic, local: true) do |form| %>
  <% if webcomic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(webcomic.errors.count, "error") %> prohibited this webcomic from being saved:</h2>

      <ul>
      <% webcomic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
