<h1 class="animate">Webcomics</h1>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    Nothings here yet!
  </tbody>
</table>

<br>

<%= link_to 'New Webcomic', new_webcomic_path if user_signed_in? %>
