<div class="container">
  <nav class="navbar navbar-expand-md navbar-light transparent">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="mb-5 collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
      <ul class="navbar-nav justify-content-center">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link', id: 'webcomics-nav-item' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Webcomics', webcomics_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'About', about_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </nav>
</div>
